*{
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar{
    width: 2px;

    background-color: black;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(149, 149, 150);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #1B1B1B;
}
.footer{
    padding: 104px 60px;
}